/*Struktúra*/

html{
  scroll-behavior: smooth;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-family: sans-serif;
}

/*Xhtml*/
.leiras{
  font-size: 1.5rem;
  color: white;
  margin: 2rem;
}

.leiras-h{
  margin: 1rem 0 0 2rem;
  color: white;
  font-weight: bold;
}

.leiras-hatter{
  background-color: rgb(0, 0, 158);
}

/*Skip-nav*/

.skip-nav{
  position: absolute;
  background: black;
  padding: 1rem;
  color: white;
  left: 1rem;
  transform: translateY(-500%);
}

.skip-nav:focus{
  transform: translateY(0);
}

/**/

.b1{
  background-color: rgb(73, 63, 63);
  margin: 0;
  font-size: 100%;
  transition: font-size 1s;
}

.b1-big{
  background-color: rgb(73, 63, 63);
  margin: 0;
  font-size: 150%;
  transition: font-size 1s;
}

.b2{
  background-image: url("../media/sunset.jpeg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: rgb(211, 180, 41);
  margin: 0;
}

.b4{
  margin: 0;
  background-color:darkseagreen;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.flex-container{
  top: 0;
  margin: 0;
}

/*Footer*/

.footer{
  margin-top: 10rem;
  background-color: darkcyan;
  height: 8rem;
  vertical-align: bottom;
  width: 100vw;
}

footer div{
  display: flex;
  justify-content: center;
}


.footer p,.footer a:link{
 color: black;
 text-align: center;
 margin: 1.5rem 1rem 0 1rem;
}

.footer a:visited{
  color: rgb(63, 63, 63);
}


/* Tartalom: */
.content2 {
  padding: 5rem 0 5rem 0;
  color: #f1f1f1;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.content2 div{
  z-index: 9;
}

.content2 p{
  background-color:rgba(0, 139 , 139, 0.5);
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem -4rem 1rem 1rem;
  width: 15rem;
  z-index: 10;
  transition: margin 1.5s;
}

.content2 p:hover{
  margin: 1rem 4rem 1rem 1rem;
  transition: margin 1.5s;
}

#c-rev{
  flex-direction: row-reverse;
}

#cp-rev{
  margin: 1rem 1rem 1rem -4rem;
}

#cp-rev:hover{
  margin: 1rem 1rem 1rem 4rem;
}

.c-img{
  width: 45rem;
  transition: border-radius 1s;
  transition: box-shadow 1s;
}

.c-img:hover{
  transition: border-radius 1s;
  transition: box-shadow 1s;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(83, 83, 83), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(132, 132, 133);
}


.content_quality {
  margin-top: 8rem;
  color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.minoseg{
  flex-direction: column;
}

.minoseg p {
  width: 15rem;
  text-align: justify;
}

.kep_quality{
  aspect-ratio: 1/1;
  width: 15rem;
  transition: width 1s;
  transition: transform 1s;
}

.kep_quality:hover{
  transition: width 1s;
  width: 17rem;
  transition: transform 1s;
  transform: rotateX(360deg);
}

.kep_insurance{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 15rem;
  aspect-ratio: 3/2;
  align-self: center;
  transition: width 1s;
}
.kep_insurance:hover{
  width: 17rem;
  transition: width 1s;
}

/**/
/*Promo sav*/

.promo{
  background-color: yellow;
  height: 3rem;
  display: block;
  position: relative;
  animation: appear_promo 1s;
  padding-left: 1rem;
}

.promo-off{
  height: 0;
  transition: height 1s;
  background-color: yellow;
  padding-left: 1rem;
}

.gomb{
  display: block;
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  height: 1.5rem;
}

.gomb-off{
  height: 0;
  transition: height 1s;
  display: none;
}

/**/
/**/

.title{
  color: #f31ee8;
  text-shadow: 2px 2px white;
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
  animation: fadeIn 2.5s ease-in;
}

/*menu: */

.topnav {
  background-color: rgba(180, 68, 68, 0.7);
  display: flex;
} 

#navi{
  background-color: rgba(180, 68, 68, 0.4);
}

.topnav a {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: clamp(0.6rem, 2.5vw, 1.4rem);
  margin: 0.7rem 0.7rem 0.4rem 0.7rem;
  border-radius: 25px;
  color: white;
  padding: 14px 18px;
  text-decoration: none;
  transition: transform 0.6s;
}
  
.topnav a:hover {
  background-color: rgb(143, 34, 34);
  transition: transform 0.6s;
  transform: translateY(-10%);
}
.topnav a:focus {
  background-color: white;
  color: black;
}

.icon{
  display: none;
}

@media (max-width: 1080px){
  .content2{
    flex-direction: column-reverse;
    margin: auto;
  }

  .b2{
    background-image: none;
  }

  .content2 p {
    margin: 1rem 1rem 1rem 4rem;
    width: 70vw;
  }

  .content2 p:hover{
    transition: none;
    margin: 1rem 1rem 1rem 4rem;
  }

  .c-img{
    width: 70vw;
    transform: none;
    animation: none;
  }
  
  .c-img:hover{
    width: 70vw;
    transform: translate(0,0);
    animation: none;
  }

  #c-rev{
    flex-direction:column-reverse
  }

  #cp-rev:hover{
    margin: 1rem 1rem 1rem -4rem;
  }

}

@media (max-width: 800px){
  .formresp{
    flex-direction: column;
  }
}



/* Keyframes: */

@keyframes fadeIn {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}


@keyframes appear_promo{
  from{
    height: 0;
  }
  to{
    height: 3rem;
  }
}

@keyframes appear_menu{
  from{
    height: 0;
    margin-bottom: 0;
  }
  to{
    height: 3rem;
    margin-bottom: 0.7rem;
  }
}

/*Háttér*/

  #myVideo {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 16/9;
    filter: blur(5px);
  }

  /*Képek*/

  
  
  /*Táblázat*/

  th, td {
    border: 1.5px solid rgb(199, 28, 28);
    text-align: center;
    padding: 1%;
    
  }

  table{
    position: relative;
    width:80vw;
    vertical-align: middle;
    background-image: url("../media/blue.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    align-self: center;
    margin-top: 2rem;
  }

  details{
    margin: 0 0 0 10vw;
    width: 80vw;
    background-color:aqua;
    padding:1rem 0 1rem 0;
    text-indent: 10px;
    border-radius: 0 0 10px 10px;
  }

  .list{
    margin-left: 3rem;
  }

  article{
    margin-bottom: 2rem;
  }

  /**/

  .imagewtitle div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .imagewtitle{
    position: relative;
    text-align: center;
  }
  
  .plane{
    width: 100vw
  }

  .balivid{
    margin: 3rem 2rem 3rem 2rem;
  }

caption{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

/*Űrlap:*/

.b3{
  background-color:rgb(211, 227, 236);
  margin: 0;
}

.flex3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urlap{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  width: 60vw;
  background-color: rgb(127, 168, 255);
  padding: 1rem;
  border-radius: 10px;
}

form label{
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#nev{
  border-radius: 10px;
  background-color: aliceblue;
  width: 30vw;
  height: 1.5rem;
  align-self: center;
  padding: 0.5rem;

}

form textarea{ 
  width: 40vw;
  height: 10rem;
  border-radius: 10px;
  padding: 1rem;
  resize: none;
  align-self: center;
  margin: 0.7rem 0 0.7rem 0;
}

form div{
  display: flex;
  align-items: center;
  align-self: center;
}

form button{
  margin: 1rem 2.5vw 1rem 2.5vw;
  font-size: 1.2rem;
  width: 8rem;
  height: 4rem;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: rgb(15, 132, 148);
  color: rgb(0, 0, 0);
  transform: translateY(8%);
  transition: transform 200ms;
}

form button:hover{
  background-image: url("../media/red.gif");
  color: black;
  transform: translateY(0%);
  transition: transform 200ms;
  font-weight: bold;
  transform: rotate(-15deg);
}

#torles{
  padding: 1rem;
  color: black;
}

#torles:hover{
  transform: rotate(15deg);
  transition: transform 200ms;
}

.switch{
  flex-direction: column;
  margin: 0;
  align-items:flex-start;
}

.formd{
  flex-direction: column;
  margin: 2rem;
}

.formd label{
  align-self: flex-start;
}


/*Accessibility*/

#bbut, #bbut-on{
  display: block;
  position: absolute;
  right: 1rem;
  border-radius: 5px;
  height: 4rem;
  width: 4rem;
  z-index: 10;
  transition: filter 0.3s;
}

#bbut:hover{
  filter: invert(1);
  transition: filter 0.3s;
  background-color: yellow;
}

#bbut-on{
  filter: invert(1);
  background-color: yellow; 
}

#bbut-on:hover{
  filter: invert(0);
  transition: filter 0.3s;
}

.leiraslink
{
  margin: 1rem 1rem 0 2rem;
}

.tablaflex{
  display: flex;
  flex-direction: column-reverse;
}


/**/

.hivatas{
  text-shadow: 1px 1px 2px rgb(83, 83, 83), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(132, 132, 133);
  font-size: 3rem;
}

@media (max-width: 770px){

  #bbut, #bbut-on{
    display: none;
  }
  
  .promo{
    display: none;
  }

  .topnav {
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 100% / 0.1);
    border-radius: 0;
    height: 4rem;
    margin-bottom: 0;
    transition: margin-bottom 1s;
  }

  .topnav a{
    float: none;
    text-align:right;
    z-index: 10;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0.7rem;
    display: none;
  }

  /*Menü animacio:*/

  #first-nav{
    margin-top: 4.5rem;
    margin-right: 15rem;
    transition: margin-right 0.7s;
  }

  #first-nav:hover{
    margin-top: 4.5rem;
    margin-right: 3rem;
    transition: margin-right 0.7s;
    background-color: chocolate;
  }

  #second-nav{
    margin-right: 12rem;
    transition: margin-right 0.5s;
  }

  #second-nav:hover{
    margin-right: 3rem;
    transition: margin-right 0.5s;
    background-color: yellowgreen;
  }

  #third-nav{
    margin-right: 9rem;
    transition: margin-right 0.4s;
  }

  #third-nav:hover{
    margin-right: 3rem;
    transition: margin-right 0.4s;
    background-color: rgb(200, 50, 13);
  }

  #fourth-nav{
    margin-right: 6rem;
    transition: margin-right 0.3s;
  }

  #fourth-nav:hover{
    margin-right: 3rem;
    transition: margin-right 0.3s;
    background-color: rgb(221, 17, 211);
  }

  .topnav.resp{
    margin-bottom: 18rem;
    transition: margin-bottom 0.7s;
  }


  .topnav.resp a {
    display: block;
    animation: appear_menu 2s;
  }

  .title{
    display: none;
  }

  .icon{
    display: block;
    border: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 0.5rem;
    right: 1rem;
    z-index: 10;
    filter: invert(1);
    transition: transform 1s;
  } 

  .icon:hover{
    transform: rotate(90deg);
    transition: transform 1s;
  }

  .content_quality {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .minoseg{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .kep_quality{
    width: clamp(15rem, 60vw, 20rem);
    height: clamp(15rem, 60vw, 20rem);
  }

  .b2{
    background-image: none;
    background-size: 100vw;
    background-color: rgb(211, 180, 41);
    margin: 0;
  }
}